<%= form_for @test, :html => {:class => 'comment-box'} do|f| %>
  <%= f.label 'make' %>
  <%= f.text_field :make, :id =>'user-input-make'%>
  <%= f.label 'model' %>
  <%= f.text_field :model, :id =>'user-input-model'%>
  <%= f.label 'year' %>
  <%= f.text_field :year, :id =>'user-input-year'%><br/><br/>
  <%= f.label 'title' %><br/>
  <%= f.text_field :title, :id =>'user-input-title'%><br/>
  <%= f.label 'description' %><br/>
  <%= f.text_field :description, :id =>'user-input-description'%><br/>
  <%= f.hidden_field :account_id, value: session[:user_id] %><br/>
  <%= f.submit %>
<% end %>



<!-- <h2 class = 'comment-box'>test</h2> -->

<!--
OTHER TYPES:

text_field
password_field
text_area
hidden_field
radio_button
check_box
file_field
label

-->
