<%= form_for @test, :html => {:class => 'comment-box'} do|f| %>
  <%= f.hidden_field :latitude, :id =>'user-latitude'%>
  <%= f.hidden_field :longitude, :id =>'user-longitude'%>
  <!-- <%= f.label 'base64' %> -->
  <%= f.hidden_field :base, :id =>'base-64'%>
  <%= f.hidden_field :basetwo, :id =>'base-64-two'%>
  <%= f.hidden_field :basethree, :id =>'base-64-three'%>
  <%= f.label 'make' %>
  <%= f.text_field :make, :id =>'user-input-make'%>
  <%= f.label 'model' %>
  <%= f.text_field :model, :id =>'user-input-model'%>
  <%= f.label 'year' %>
  <%= f.text_field :year, :id =>'user-input-year'%><br>
  <%= f.label 'title' %><br/>
  <%= f.text_field :title, :id =>'user-input-title'%><br/>
  <%= f.label 'description' %><br/>
  <%= f.text_field :description, :id =>'user-input-description'%><br/>
  <%= f.hidden_field :account_id, value: session[:user_id] %><br/>
  <div id = 'submit-project'>
    <div id = 'inner-submit-project'>
        <%= f.submit "create project"%>
    </div>
  </div>

<% end %>


<!--
OTHER TYPES:

text_field
password_field
text_area
hidden_field
radio_button
check_box
file_field
label

-->
