<!-- <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Autobid</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
    </ul>
  </section>
</nav> -->


<h1>welcome to autobid</h1>
<%= link_to 'log in', login_path%>
<%= link_to 'register', register_path%>


<div class="row">
  <div class="medium-9 medium-push-3 columns">
    <h2>photo gallery</h2>
    <ul data-orbit>
      <li>
        <img src="http://www.hdcarwallpapers.com/walls/2013_acura_nsx_concept_car-wide.jpg" alt="" />
      </li>
      <li>
        <img src="http://globe-views.com/dcim/dreams/car/car-04.jpg" alt="" />
      </li>
      <li>
        <img src="http://desktopbackgrounds4u.com/wp-content/gallery/car-wallpaper-download/car-wallpapers-5.jpg" alt="" />
      </li>
    </ul>
  </div>
</div>

<!-- <li>
  <%=image_tag("saab.jpg", alt: "Example Image")%>
</li>
<li>
  <%=image_tag("volvo.jpg", alt: "Example Image")%>
</li>
<li>
  <%=image_tag("subaru.jpg", alt: "Example Image")%>
</li> -->





























<!-- <img src="./app/assets/images/saab.jpg" alt="" /> -->
<!-- <img src="../../../assets/images/saab.jpg" alt="" /> -->
<!-- <img src="../../assets/images/saab.jpg" alt="" /> -->
<!-- <img src="../assets/images/saab.jpg" alt="" /> -->
<!-- <img src="../../../images/saab.jpg" alt="" /> -->
<!-- <img src="../../images/saab.jpg" alt="" /> -->
<!-- <img src="../images/saab.jpg" alt="" /> -->

















<!--  -->
