<h1 id = 'welcome'>Welcome to autobid</h1>
<%= link_to 'log in', login_path%> |
<%= link_to 'register', register_path%>












<!--carousel  -->
<!-- <dv id="carousel-example-generic" class="carousel slide" data-ride="carousel"> -->
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <!-- <div class="carousel-inner">
    <div class="item active">
      <img src='<%=image_path('saab.jpg')%>' alt="..."> -->
      <!-- <div class="carousel-caption"> -->
        <!--caption text below  -->
        <!-- <h3></h3> -->
      <!-- </div> -->
    <!-- </div>
    <div class="item">
      <img src='<%=image_path('subaru.jpg')%>' alt="...">
      <div class="carousel-caption"> -->
        <!--caption text below  -->
        <!-- <h3></h3>
      </div>
    </div>
    <div class="item">
      <img src='<%=image_path('volvo.jpg')%>' alt="...">
      <div class="carousel-caption"> -->
          <!--caption text below  -->
          <!-- <h3></h3>
      </div>
    </div>
  </div> -->

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->
<!-- </div>  -->
<!-- Carousel -->
