<%= render(:partial => 'nav')%>
<% content_for :head do %>
  <%= stylesheet_link_tag "account" %>
<%end%>

<h1>Projects</h1>




<div class="col-lg-12 col-md-8 col-sm-8 col-xs-8 table-responsive">
  <table class="table-striped table table-bordered table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th>description</th>
        <th>detail</th>
      </tr>
    </thead>
    <tbody id="table-id">
    </tbody>
  </table>
</div>

<% @test.each do |x|%>
    <script type="text/javascript">
    var tableRow = $('<tr>');
    var var_title = '<%=x.title%>';
    var var_description = '<%=x.description%>';
    var var_detail = '<%= link_to 'show details', project_path(x.id)%>';
    $('#table-id').append(tableRow);
    tableRow.append('<td>'+var_title+'</td>');
    tableRow.append('<td>'+var_description+'</td>');
    tableRow.append('<td>'+var_detail+'</td>');
    </script>
<%end%>


</p>
