<%= stylesheet_link_tag 'application' %>
<%= render(:partial => 'nav')%>

<h1 id='project-head'>Title: <%= @test.title %></h1>
<h3>Description: <%= @test.description%></h3>

<div class="project-container">
    <h3>Add comment</h3>
    <section id='add-comment'>
      <input type="hidden" id='title-text' value= <%= @test.id %>  placeholder=''>
      <input type="hidden" id='account-text' value=<%=session[:user_id]%> placeholder=''>
      <input type="text" id='comment-text' value="" placeholder='add comment'><br/>
      <button type="button" id='comment-button'>Add Comment</button>
      <div class='error'></div>
    </section>
    <h3 id = 'project-id'></h3>
    <h3 id = 'table-row-template'></h3>
    <br>
    <div class="project-comment">
      <table class="table table-striped">
        <thead>
          <tr>
            <th id='th-comment'>User</th>
            <th id='th-comment'>Comment</th>
          </tr>
        </thead>
        <tbody id="table-id">
        </tbody>
      </table>
    </div>
</div>
<div id='map' style="width:40%; height:30%; float: right;"></div>


<script>
$.getJSON('/comments/api',
  function(data){
    console.log('getjson works')
    console.log(data)

    var project = '<%= @test.id %>';
    var username = '<%= @user.username %>'
    // var user = document.getElementById('title-text').value;
    // console.log('USER ID IS ' + user);
    for(var i = 0; i< data.length; i++){
      var project_id = data[i].project_id;

      var comment = data[i].reply;
      console.log(comment + i)
      if(parseInt(project) == parseInt(project_id)){
        var tableRow = $('<tr>');
        var var_user = username;
        var var_comment = comment;
        $('#table-id').append(tableRow);
        tableRow.append('<td>'+username+'</td>');
        tableRow.append('<td>'+var_comment+'</td>');
      }
    }
  }
);
</script>


<script type="text/javascript">
  var map;
  function initMap() {
    console.log('LATLNG: '+ '<%= @test.latitude %>'+';'+'<%= @test.longitude %>')
    var myLatLng = {lat: parseInt('<%= @test.latitude %>'), lng: parseInt('<%= @test.longitude %>')}; //set starting location
      map = new google.maps.Map(document.getElementById('map'), { //make new map and tie to dom
        zoom: 7,
        center: myLatLng
      });
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        // zoom: 10,
        title: 'Hello World!'
      });
      marker.addListener('click',function(){
        infowindow.open(map, marker);
      });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjLvHS4VWyc_r1Spdl_dzV3zffOklQSR0&callback=initMap"
type="text/javascript">
</script>
