<%= render(:partial => 'nav')%>
<% content_for :head do %>
  <!--define style -->
  <%= stylesheet_link_tag "account" %>
<%end%>
<h1>Title: <div id = 'user-id'><%= @test.title %></div></h1>
<h3>Description: <%= @test.description%></h3>
<%= link_to 'Log out', '/logout'%>
<%= link_to 'My Account', account_path(@user.id)%>

<h3>Add comment</h3>
<section id='add-comment'>
  <input type="hidden" id='title-text' value= <%= @user.username %>  placeholder=''>
  <!-- <button type="button" id='title-button'>project ID</button> -->
  <input type="hidden" id='account-text' value=<%=session[:user_id]%> placeholder=''>
  <!-- <button type="button" id='account-button'>account ID</button> -->
  <input type="text" id='comment-text' value="" placeholder='add comment'><br/>
  <button type="button" id='comment-button'>Add Comment</button>
  <div class='error'></div>
</section>

<h3 id = 'project-id'></h3>
<h3 id = 'table-row-template'></h3>

<br>
<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Comment</th>
      </tr>
    </thead>
    <tbody id="table-id">
    </tbody>
  </table>
</div>

<script>
$.getJSON('/comments/api',
  function(data){
    console.log('getjson works')
    console.log(data)

    var user = document.getElementById('title-text').value;
    console.log('USER ID IS ' + user);
    for(var i = 0; i< data.length; i++){
      var project_id = data[i].project_id

      var comment = data[i].reply
      console.log(comment + i)
      if(user == project_id){
        var tableRow = $('<tr>');
        var var_user = user;
        var var_comment = comment;
        $('#table-id').append(tableRow);
        tableRow.append('<td>'+var_user+'</td>');
        tableRow.append('<td>'+var_comment+'</td>');
      }
    }
  }
);

</script>
