<%= stylesheet_link_tag 'application' %>
<%= render(:partial => 'nav')%>
<div class='detail-container'>
<div id="head-wrapper">
  <h1>Title: <%= @test.title %></h1>
  <h3>Description: <%= @test.description%></h3><br>
</div>


  <div class="project-container">
      <section id='add-comment'>
        <input type="hidden" id='title-text' value= '<%= @test.id %>'  placeholder=''>
        <input type="hidden" id='username-text' value= '<%= @user.username %>'  placeholder=''>
        <input type="hidden" id='account-text' value='<%=session[:user_id]%>' placeholder=''>
        <input type="text" id='comment-text' value="" placeholder='input comment here'><br/>
        <button type="button" id='comment-button'>Add Comment</button>
        <div class='error'></div>
      </section>
      <h3 id = 'project-id'></h3>
      <h3 id = 'table-row-template'></h3>
      <br>
      <div class="project-comment">
        <table class="table table-striped">
          <thead>
            <tr>
              <th id='th-comment'>User</th>
              <th id='th-comment'>Comment</th>
            </tr>
          </thead>
          <tbody id="table-id">
          </tbody>
        </table>
      </div>
  </div>

</div>
  <!-- <div id='map-id'></div> -->
<div class = 'detail-container' id = 'right-container'>
  <div id='map-text'>

  </div>
  <div id="ajax">
      <input type="button" value="find mechanic" onclick="foursquare();" />
  </div>
  <div id="map-id" style="width:80%; height:70%"></div><br>
</div>





<!-- START CAROUSEL -->

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img id = 'carousel-img' src='<%= @test.base%>' alt="...">
      <div class="carousel-caption">
          <!-- <h3>Caption Text</h3> -->
      </div>
    </div>
    <div class="item">
      <img id = 'carousel-img' src='<%= @test.basetwo%>' alt="...">
      <div class="carousel-caption">
          <!-- <h3>Caption Text</h3> -->
      </div>
    </div>
    <div class="item">
      <img id = 'carousel-img' src='<%= @test.base%>' alt="...">
      <div class="carousel-caption">
          <!-- <h3>Caption Text</h3> -->
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->










<!--Z0T1QTKIINT2KCISPS5JWALHIF4R1L1G3MSZS4UOQ4Y34OWJ //clientid-->
<!--YRD3RPUJR12O40RBNHFN0TS5O5BWENGYGSLFPUTDYHGQUG3S //clientsecret  -->
<script type="text/javascript">

var lat = '<%= @test.latitude %>';
var lng = '<%= @test.longitude %>';
var date = '20160101';
var radius = '1500';
var results = [];

var foursquare = function(){
$.getJSON('https://api.foursquare.com/v2/venues/search?\
ll='+lat+','+lng+'\
&query=auto\
&v='+date+'\
&radius='+radius+'\
&m=foursquare\
&client_secret=YRD3RPUJR12O40RBNHFN0TS5O5BWENGYGSLFPUTDYHGQUG3S\
&client_id=Z0T1QTKIINT2KCISPS5JWALHIF4R1L1G3MSZS4UOQ4Y34OWJ',
function(data){
  console.log(data);
  console.log(data.response.venues.length);

  for (var i = 0; i < data.response.venues.length; i++) {
    var lat = data.response.venues[i].location.lat;
    var lng = data.response.venues[i].location.lng;
    var name = data.response.venues[i].name;
    addMarker(lat,lng,name);
  }
})
}

function addMarker(x,y,z){
  console.log(x,y,z);
  var contentString = z;
  var infowindow = new google.maps.InfoWindow({
    content: contentString
  });
  var marker = new google.maps.Marker({
    position: {lat: parseFloat(x), lng: parseFloat(y)},
    map: map,
    title: 'Hello World!'
  });
  marker.addListener('click',function(){
    infowindow.open(map, marker);
  });
  // markers.push(marker);
}

</script>

<script>
$.getJSON('/comments/api',
  function(data){
    var project = '<%= @test.id %>';
    // var username = '<%= @user.username %>'
    for(var i = 0; i< data.length; i++){
      var project_id = data[i].project_id;
      var comment = data[i].reply;
      var username = data[i].username;
      if(parseInt(project) == parseInt(project_id)){
        var tableRow = $('<tr>');
        var var_user = username;
        var var_comment = comment;
        $('#table-id').append(tableRow);
        tableRow.append('<td>'+username+'</td>');
        tableRow.append('<td>'+var_comment+'</td>');
      }
    }
  }
);
</script>


<script type="text/javascript">
  var map;
  function initMap() {
    console.log('LATLNG: '+ '<%= @test.latitude %>'+';'+'<%= @test.longitude %>')
    var myLatLng = {lat: parseFloat('<%= @test.latitude %>'), lng: parseFloat('<%= @test.longitude %>')}; //set starting location
      map = new google.maps.Map(document.getElementById('map-id'), { //make new map and tie to dom
        zoom: 11,
        center: myLatLng,
        scrollwheel: false
      });
      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        // zoom: 10,
        title: 'Hello World!'
      });
      var infowindow = new google.maps.InfoWindow({
        content: ('car location')
      });
      marker.addListener('click',function(){
        infowindow.open(map, marker);
      });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjLvHS4VWyc_r1Spdl_dzV3zffOklQSR0&callback=initMap"
type="text/javascript">
</script>









<!--  -->
