<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="http://cdn.foundation5.zurb.com/foundation.css">
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <!-- <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title> -->
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <!-- <%= javascript_include_tag "application", 'data-turbolinks-track' => true %> -->
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>






  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Autobid</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/login">Log in</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/logout">Log out</a></li>
        </ul>
      </section>
    </nav>




    <%= yield %>

  </body>
</html>
